<div class="con">
	<div class="tit clearfix">
    <%= link_to blog.title, blog_url(blog) %>
    <% if account_admin? %>
    <%= link_to '', url(:admin, :blog, :id => blog.id), :method => :delete, :confirm => 'Are you delete', :class => 'del' %>
    <%= link_to '', url(:admin, :edit_blog, :id => blog.id), :class => 'edit' %>
    <% end %>
  </div>
  <div class="text">
    <%= blog.content.truncate(300) %>
  </div>
  <div class="info clearfix">
    <div class="fr">
      <span class="time"><%= time_ago_in_words(blog.created_at) %></span>
      <span class="edit"><%= time_ago_in_words(blog.content_updated_at) %></span>
      <span class="views"><%= blog.view_count %></span>
      <a href="#" class="comment"><%= blog.comments_count %></a>
    </div>
    <% blog.cached_tags.each do |tag| %>
    <%= link_to "<span>#{tag}</span>".html_safe, url(:blog, :tag, :name => tag), :class => 'tag', :rel => 'tag' %>
    <% end %>
  </div>
</div>