<h3>Hot Tag</h3>
<div class="tag">
  <% Blog.hot_tags.each do |tag| %>
  <%= link_to "#{tag.name}<span>#{tag.count}</span>", url(:blog, :tag, :name => tag.name) %>
  <% end %>
</div>
  
<h3>Hot Blog</h3>
<div class="hot_blog">
  <% Blog.hot_blogs.each do |blog| %>
  <%= link_to blog.title, blog_url(blog) %>
  <% end %>
</div>

<h3>Recently Comment</h3>
<ul class="comment">
  <% BlogComment.order('id DESC').limit(5).each do |comment| %>
	<li>
  	<span class="user_name"><%= comment.account.name %></span>
    <%= comment.brief_content %>
    <%= link_to comment.blog.title, blog_url(comment.blog), :anchor => 'comments' %>
  </li>
  <% end %>
</ul>
  
<h3>Others</h3>
<div class="rss clearfix">
  <button></button><input name="" type="text" placeholder="请输入E-Mail 订阅">
</div>
