<div class="login">
<% form_for @account, url(:login) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email, :caption => "Email地址" %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, :caption => "输入密码" %>
    <%= f.password_field :password %>
  </p>
  <p class="remember_me" >
    <%= label_tag :remember_me, :caption =><%= check_box_tag :remember_me, :checked => true %> "两周内自动登录" %>
  </p>
  <p>
    <%= f.submit '', :class => 'login' %><a href="#" class="sina_btn" ></a>
  </p>
<% end %>
</div>