<% form_for @account, url(:login) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email, :caption => "Email地址" %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, :caption => "输入密码" %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= label_tag :remember_me, :caption => "两周内自动登录" %>
    <%= check_box_tag :remember_me, :checked => true %>
  </p>
  <p>
    <%= f.submit '登录' %>
  </p>
<% end %>