<% cache("#{CACHE_PREFIX}/rss/all") do -%>
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0"  xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= APP_CONFIG['site_title'] %></title>
    <description><%= APP_CONFIG['site_description'] %></description>
    <link><%= APP_CONFIG['site_url'] %></link>
    <language>zh-CN</language>
    <copyright>Copyright 2012-2013, robbinfan.com</copyright>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    <atom:link href="<%= APP_CONFIG['site_url'] %>/rss" rel="self" type="application/rss+xml" />
    <% @blogs.each do |blog| %>
    <item>
      <title><%= blog.title %></title>
      <description>
        <![CDATA[ <%= blog.md_content.html_safe %> ]]>
      </description>
      <pubDate><%= blog.created_at.rfc822 %></pubDate>
      <link><%= APP_CONFIG['site_url'] + blog_url(blog) %></link>
      <guid isPermaLink="false"><%= APP_CONFIG['site_url'] + blog_url(blog) %></guid>
    </item>
    <% end %>
  </channel>
</rss>
<% end -%>