<li class="clearfix" id="<%= comment.id %>">
  <div class="user_img"><%= commenter_logo(comment.account) %></div>
  <div class="cot_con">
 		<div class="info">
      <span class="user_name"><%= commenter_link(comment.account) %></span>
      <span class="time"><%= time_ago_in_words(comment.created_at) %></span>
      <% if account_admin? || (account_commenter? && comment.account == current_account) %>
      <span><%= link_to "删除", url(:blog, :comment, :id => comment.id), :method => :delete, :remote => true, :confirm => '要删除评论吗？' %></span>
      <% end %>
    </div>
    <p><%= comment.md_content.html_safe %></p>
  </div>
</li>
