<% @title = @blog.title %>
<% @description = @blog.cached_tag_list + ' ' + @blog.content.truncate(200).gsub(/(\r|\n)/, ' ') %>

<% content_for :stylesheets do %>
<%= stylesheet_link_tag '/skins/default/github' %>
<%= stylesheet_link_tag 'hightlight/github.min' %>
<% end %>

<% content_for :javascripts do %>
<%= javascript_include_tag 'highlight.min' %>
<script type="text/javascript" charset="utf-8">
$(function(){
  hljs.initHighlightingOnLoad();
});
</script>
<% end %>

<div class="left">
  
  <div class="con">
    
    <div class="content">
    	<div class="tit clearfix">
        <%= link_to @blog.title, blog_url(@blog) %>
        <%= link_to '', blog_url(@blog, mime_type = :md), :class => 'markdown', :title => 'Markdown格式原文' %>
        <% if account_admin? %>
        <%= link_to '', url(:admin, :blog, :id => @blog.id), :method => :delete, :confirm => 'Are you delete', :class => 'del', :title => '删除' %>
        <%= link_to '', url(:admin, :edit_blog, :id => @blog.id), :class => 'edit', :title => '编辑' %>
        <% end %>
      </div>
      <div class="info clearfix">
        <div class="fr">
          <span class="time"><%= time_ago_in_words(@blog.created_at) %>发表</span>
          <span class="edit"><%= time_ago_in_words(@blog.content_updated_at) %>更新</span>
          <span class="views" title="浏览次数"><%= @blog.view_count %></span>
        </div>
        <% @blog.cached_tags.each do |tag| %>
        <%= link_to "<span>#{tag}</span>".html_safe, url(:blog, :tag, :name => tag), :class => 'tag', :rel => 'tag' %>
        <% end %>
      </div>
      <div class="text">
        <%= @blog.md_content.html_safe %>
      </div>
    </div><!-- content -->
  
    <div class="share clearfix">
        <span>
          <script type="text/javascript" charset="utf-8">
            (function(){
              var _w = 24 , _h = 24;
              var param = {
                url:location.href,
                type:'2',
                count:'', /**是否显示分享数，1显示(可选)*/
                appkey:'', /**您申请的应用appkey,显示分享来源(可选)*/
                title:'', /**分享的文字内容(可选，默认为所在页面的title)*/
                pic:'', /**分享图片的路径(可选)*/
                ralateUid:'', /**关联用户的UID，分享微博会@该用户(可选)*/
                language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
                rnd:new Date().valueOf()
              }
              var temp = [];
              for( var p in param ){
                temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
              }
              document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
            })()
          </script>
        </span>
    </div><!-- share -->
    
    <div class="comment clearfix">
      <div id="comments">      
        <h2><span><%= @blog.comments_count %></span>Comment</h2>
        <ul>
          <% if @blog.comments_count > 0 %>
          <%= partial 'blog/comment', :collection => @blog.comments.reverse %>
          <% end %>
        </ul>
      </div>
      <% if @blog.commentable? %>
      <h4>Leave a Reply</h4>
      <a name="comments"></a>
      <div class="relative">
        <% form_for BlogComment.new, url(:blog, :create_comment, :id => @blog.id), :remote => true do |f| %>
        <%= f.text_area :content, :class => 'comment' %>
        <%= f.submit '', :class => 'comment_btn' %>
        <% end %>
        <div class="box" style="<%= "display:none;" if account_login? %>">
          <button class="close" onclick=""></button>
          <p>我希望知道在与谁进行思想交流，请用以下方式登录留言</p>
          <button class="google_btn"></button>
          <button class="sina_btn"></button>
        </div><!-- box -->
      </div><!-- relative -->
      <% end %>
      
    </div><!-- comment -->
     
  </div><!-- con -->
  
</div><!-- left -->

<div class="right">
  <%= partial 'blog/right' %>
</div><!-- right -->