<% @nav = 'tag' %>
<% @title = params[:name].force_encoding("UTF-8") + "分类文章" %>
<% @title << " | 第#{params[:page]}页" if params[:page] && params[:page].to_i > 1 %>
<% @description = params[:name].force_encoding("UTF-8") + "分类下所有文章列表" %>

<div class="left">
	<h3>Tag: <%= params[:name].force_encoding("UTF-8") %></h3>
  <%= partial 'blog/blog', :collection => @blogs %>
  <div>
    <%= (will_paginate @blogs, :previous_label => '前一页', :next_label => '后一页').to_s.html_safe %>
  </div>
</div><!-- left content -->

<div class="right">
  <%= partial 'blog/right' %>
</div><!-- right content -->

<%= partial 'blog/articles_count', :locals => {:blogs => @blogs} %>