<% @title = "网站首页" %>

<div class="left">
	<h3>Blog post</h3>
  
  <% @blogs.each do |blog| %>
  <div class="con">
  	<div class="tit clearfix">
      <%= link_to blog.title, url_for(:blog, :show, blog.id) %>
      <a href="#" class="del"></a>
      <a href="#" class="edit"></a>
    </div>
    <div class="text">
      <%= blog.content.truncate(300) %>
    </div>
    <div class="info clearfix">
      <div class="fr">
        <span class="time"><%= time_ago_in_words(blog.created_at) %></span>
        <span class="edit"><%= time_ago_in_words(blog.updated_at) %></span>
        <span class="views"><%= blog.view_count %></span>
        <a href="#" class="comment"><%= blog.comments_count %></a>
      </div>
      <% blog.tag_list.each do |tag| %>
      <a href="#" class="tag" rel="tag"><span><%= tag %></span></a>
      <% end %>
    </div>
  </div>
  <% end %>
  
	<h3>Note post</h3>

</div><!-- left content -->

<div class="right">
	<h3>Hot Blog Tag</h3>
  <div class="tag">
    <a href="#">tags<span>94</span></a>
    <a href="#">Loadrunner<span>56</span></a>
    <a href="#">tags <span>56</span></a>
    <a href="#">JavaScript<span>56</span></a>
    <a href="#">Lucene<span>56</span></a>
    <a href="#">Loadrunner<span>56</span></a>
    <a href="#">tags <span>56</span></a>
    <a href="#">JavaScript<span>56</span></a>
    <a href="#">Lucene<span>56</span></a>
    <a href="#">Loadrunner<span>56</span></a>
  </div>
  
  <h3>Hot Note Tag</h3>
  <div class="tag">
    <a href="#">Lucene<span>56</span></a>
    <a href="#">Loadrunner<span>56</span></a>
    <a href="#">tags <span>56</span></a>
    <a href="#">JavaScript<span>56</span></a>
    <a href="#">Lucene<span>56</span></a>
    <a href="#">Loadrunner<span>56</span></a>
    <a href="#">tags <span>56</span></a>
    <a href="#">JavaScript<span>56</span></a>
    <a href="#">Lucene<span>56</span></a>
    <a href="#">Loadrunner<span>56</span></a>
  </div>
  
  <h3>Hot Blog</h3>
  <div class="hot_blog">
  	<a href="#">robbin的自白：You've got to find what you love</a>
    <a href="#">2011年的总结和展望 </a>
    <a href="#">《松本行弘的程序世界》推荐序 </a>
    <a href="#">robbin的自白：You've got to find what</a>
    <a href="#">RoR背后的软件开发方法学思考 </a>
    <a href="#">从京沪列车对比看京服务意识robbin谈管理我敬佩的3位CEO管理者  </a>
    <a href="#">Hibernate3.2版本正式发布了 </a>
    <a href="#">Spring2.0的新特性点评 </a>
    <a href="#">截至现在JavaEye2.0 CVS上面代码看了《墨攻》，感觉还不错 </a>
    <a href="#">12月16日周六下午JavaEye上海主题活动之开业架构论坛 </a>
  </div>
  
  <h3>Hot note</h3>
  <div class="hot_note">
  	<a href="#">robbin的自白：You've got to find what you love</a>
    <a href="#">2011年的总结和展望 </a>
    <a href="#">《松本行弘的程序世界》推荐序 </a>
    <a href="#">robbin的自白：You've got to find what</a>
    <a href="#">RoR背后的软件开发方法学思考 </a>
    <a href="#">从京沪列车对比看京服务意识robbin谈管理我敬佩的3位CEO管理者  </a>
    <a href="#">Hibernate3.2版本正式发布了 </a>
    <a href="#">Spring2.0的新特性点评 </a>
    <a href="#">截至现在JavaEye2.0 CVS上面代码看了《墨攻》，感觉还不错 </a>
    <a href="#">12月16日周六下午JavaEye上海主题活动之开业架构论坛 </a>
  </div>
  
  <h3>Others</h3>
  <div class="rss clearfix"><button></button><input name="" type="text" placeholder="请输入E-Mail 订阅"></div>
  
</div><!-- right content -->
