<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= @title || APP_CONFIG['site_title'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= @description || APP_CONFIG['site_description'] %>">
    <meta name="author" content="Robbin Fan">
    <link href="/rss" rel="alternate" title="<%= APP_CONFIG['site_title'] %>" type="application/rss+xml" />
    <%= stylesheet_link_tag '/skins/default/document', '/skins/default/content', '/skins/default/github' %>
  </head>
  <body>
    <div class="header">
      <div class="warp">
      	<div class="user_img"><img src="/skins/data/100.png" width="80" height="80"></div>
        <h1><span class="blog_name">Robbin</span><span class="blog_title">的自言自语</span></h1>
        <div class="write">
        <% unless account_login? %>
          <%= link_to '登录', url(:login) %>
        <% else %>
          <%= current_account.name %>
          <% if account_admin? %>
          <%= link_to '写博客', url(:admin, :new_blog) %>
          <%= link_to '设置', url(:admin, :index) %>
          <% end %>
          <%= button_to '退出', url(:logout), :method => :delete %>
        <% end %>
        </div>
        <h2>Small is beautiful, constraint is liberty.</h2>
      </div>
    </div><!-- header -->
    
    <div class="nav">
      <div class="warp clearfix">
      	<div class="search fr">
          <form action="/search" id="cse-search-box" method="get">
            <input type="hidden" name="cx" value="<%= APP_CONFIG['google_cse'] %>" />
            <input type="hidden" name="cof" value="FORID:10" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input id="search-box" name="q" type="text" placeholder="Search" value="<%= params[:q] %>">
            <button id="search-button">
          </form>
        </div>
        <ul>
          <li><a href="/" <%= "class='current'".html_safe if @nav == 'home' %>>Home</a></li>
          <li><a href="/blog" <%= "class='current'".html_safe if @nav == 'blog' %>>Blog</a></li>
          <li><a href="/note" <%= "class='current'".html_safe if @nav == 'note' %>>Note</a></li>
          <li><a href="/tag" <%= "class='current'".html_safe if @nav == 'tag' %>>Tag</a></li>
          <li><a href="/weibo" <%= "class='current'".html_safe if @nav == 'weibo' %>>Weibo</a></li>
          <li><a href="/me" <%= "class='current'".html_safe if @nav == 'me' %>>About</a></li>
        </ul>
      </div>
    </div><!-- nav -->
    
    <div class="warp clearfix">
      <%= yield %>
    </div><!-- content -->
    
    <div class="footer">
    	<a href="http://weibo.com/robbinfan" class="weibo">Weibo</a>
      <a href="https://github.com/robbin" class="github">Github</a>      
      <a href="mailto:fankai@gmail.com" class="mail">Email</a>
      <div class="certification">
         <a href="http://www.miibeian.gov.cn/">京ICP备13004925号-1</a> 京公网安备11010502023235
      </div>
    </div><!-- footer -->
    <%= javascript_include_tag 'jquery', 'jquery-ujs', 'application' %>
  </body>
</html>