<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= @title %> [范凯的个人网站]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is Robbin's personal website">
    <meta name="author" content="Robbin Fan">

    <%= stylesheet_link_tag '/skins/default/document' %>
    <%= stylesheet_link_tag '/skins/default/content' %>
  </head>
  
  <body>
    
    <div class="header">
      <div class="warp">
      	<div class="user_img"><img src="/skins/data/100.PNG" width="80" height="80"></div>
        <h1><span class="blog_name">Robbin</span><span class="blog_title">的自言自语</span></h1>
        <% if account_admin? %>
        <div class="write">
          <%= current_account.name %>
          <%= link_to '写博客', url_for(:admin, :new_blog) %>
          <%= button_to '退出', url_for(:logout), :method => :delete %>
        </div>
        <% end %>
        <h2>Small is beautiful, constraint is liberty.</h2>
      </div>
    </div><!-- header -->
    
    <div class="nav">
      <div class="warp clearfix">
      	<div class="search fr">
          <input name="search" type="text" placeholder="Search"><button></button>
        </div>
        <ul>
          <li><a href="/" class="current">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/tag">Tag</a></li>
          <li><a href="/weibo">Weibo</a></li>
          <li><a href="/me">About</a></li>
        </ul>
      </div>
    </div><!-- nav -->
    
    <div class="warp clearfix">
      <%= yield %>
    </div><!-- content -->
    
    <div class="footer">
    	<a href="#" class="weibo">Weibo</a>
      <a href="#" class="mail">Newsletter</a>
      <a href="#" class="iteye">Blog</a>
    </div><!-- footer -->

    <%= javascript_include_tag 'jquery.js' %>
    <%= javascript_include_tag 'jquery-ujs.js' %>
    <%= javascript_include_tag 'application' %>
    
  </body>

</html>